{% extends 'base.html.twig' %}

{% block title %}Land index{% endblock %}

{% block body %}
    <h1>Land Dashboard</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Naam</th>
                <th>Acties</th>
            </tr>
        </thead>
        <tbody>
        {% for land in lands %}
            <tr>
                <td>{{ land.id }}</td>
                <td>{{ land.naam }}</td>
                <td>
                    <a href="{{ path('land_edit', {'id': land.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Geen landen gevonden</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('land_new') }}">Voeg een land toe</a>
{% endblock %}
