{% extends 'base.html.twig' %}

{% block title %}Land toevoegen{% endblock %}

{% block body %}
    <h1>Voeg een nieuwe land toe</h1>

    {{ include('land/_form.html.twig') }}

    <a href="{{ path('land_index') }}">Ga terug naar dashboard</a>
{% endblock %}
