{% extends 'base.html.twig' %}

{% block title %}Edit Stem{% endblock %}

{% block body %}
    <h1>Edit Stem</h1>

    {{ include('stem/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('stem_index') }}">back to list</a>

    {{ include('stem/_delete_form.html.twig') }}
{% endblock %}
